*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.h-sceen{
    height: 100vh;
}
.w-screen{
    width: 100vw;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

